[Unit]
Description=Startup Buzzer Script
After=multi-user.target sysinit.target local-fs.target
Wants=dev-gpiomem

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/scripts/startup_buzzer.py
WorkingDirectory=/home/pi/scripts
User=pi
Restart=no

[Install]
WantedBy=multi-user.target
